.heading__primary{
  font-size: 5rem;
  font-weight: 400;

  color: $color-Dark-Blue;


}

.heading__secondary {
  font-size: 4rem;
  font-weight: 300;
  color: $color-Dark-Blue;
}


.text {
  font-size: $def-font-size;
  font-weight: 500;
  color: $color-grayish-Blue;
  line-height: 1.5;
}
