*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Public Sans',sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

::-moz-selection {
  color: white;
  background-color: #2bb7da; }

::selection {
  color: white;
  background-color: #2bb7da; }

.btn, .btn:link, .btn:visited {
  text-transform: capitalize;
  text-decoration: none;
  padding: 1.5rem 3.5rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.8rem;
  color: white;
  border: none;
  cursor: pointer; }

.btn__invite {
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da); }

.header__top-section {
  background-color: white;
  color: #2d314d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
  height: 15vh; }

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__nav-item {
  list-style: none;
  display: inline-block;
  padding: 0 2rem; }

.header__nav-link {
  text-decoration: none;
  font-size: 1.8rem;
  color: #9698a6; }

.header__bottom-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header__bottom-section-image {
    background-image: url(../images/bg-intro-desktop.svg);
    background-position: right;
    background-size: cover; }
