.header {

  &__top-section {
      background-color: $color-White;
      color: $color-Dark-Blue;

      align-items: center;


      display: flex;



      justify-content: space-around;
      align-items: center;
      height: 15vh;

  }

  &__logo {

  }

  &__nav {

  }


  &__nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nav-item {
    list-style: none;
    display: inline-block;
    padding: 0 2rem;



  }

  &__nav-link {
      text-decoration: none;
      font-size: $def-font-size;
      color: $color-grayish-Blue;
  }

  &__bottom-section {
    height: 100vh;
    display: flex;

    &-image {
      background-image: url(../images/bg-intro-desktop.svg);
      background-position: right;
      background-size: cover;
    }
  }
}
